<?xml version="1.0"?>
<config>
    <modules>
        <WDPH_CustomRegistrationFields>
            <version>1.0.0</version>
        </WDPH_CustomRegistrationFields>
    </modules>
	<frontend>
		<layout>
			<updates>
				<customregistrationfields>
					<file>wdph_customregistrationfields.xml</file>
				</customregistrationfields>
			</updates>
		</layout>
	</frontend>
    <global>
        <helpers>
            <wdph_customregistrationfields>
                <class>StackExchange_Customer_Helper</class>
            </wdph_customregistrationfields>
        </helpers>
		<models>
            <customregistrationfields>
                <class>WDPH_CustomRegistrationFields_Model</class>
            </customregistrationfields>
        </models>
        <resources>
            <wdph_customregistrationfields_setup>
                <setup>
                    <module>WDPH_CustomRegistrationFields</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </wdph_customregistrationfields_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <wdph_customer>
                    <file>wdph_customer.xml</file>
                </wdph_customer>
            </updates>
        </layout>
        <translate>
            <modules>
                <WDPH_CustomRegistrationFields>
                    <files>
                        <default>WDPH_CustomRegistrationFields.csv</default>
                    </files>
                </WDPH_CustomRegistrationFields>
            </modules>
        </translate>
    </frontend>
</config>