<?xml version="1.0"?>

<config>
    <modules>
        <FME_Usersurvey>
            <version>1.2.0</version>
        </FME_Usersurvey>
    </modules>
    <frontend>
        <translate>
            <modules>
                <FME_Usersurvey>
                    <files>
                        <default>FME_Usersurvey.csv</default>
                    </files>
                </FME_Usersurvey>
            </modules>
        </translate>
        <routers>
            <usersurvey>
                <use>standard</use>
                <args>
                    <module>FME_Usersurvey</module>
                    <frontName>usersurvey</frontName>
                </args>
            </usersurvey>
        </routers>
        <layout>
            <updates>
                <usersurvey>
                    <file>usersurvey.xml</file>
                </usersurvey>
            </updates>
        </layout>
    </frontend>
    <admin>
        <!--
        <routers>
                        <usersurvey>
                                <use>admin</use>
                                <args>
                                        <module>FME_Usersurvey</module>
                                        <frontName>usersurvey</frontName>
                                </args>
                        </usersurvey>
        </routers>
        -->
        
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <usersurvey after="Mage_Adminhtml">FME_Usersurvey_Adminhtml</usersurvey>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <FME_Usersurvey>
                    <files>
                        <default>FME_Usersurvey.csv</default>
                    </files>
                </FME_Usersurvey>
            </modules>
        </translate>
        <layout>
            <updates>
                <usersurvey>
                    <file>usersurvey.xml</file>
                </usersurvey>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <usersurvey>
                <class>FME_Usersurvey_Model</class>
                <resourceModel>usersurvey_mysql4</resourceModel>
            </usersurvey>
            <usersurvey_mysql4>
                <class>FME_Usersurvey_Model_Mysql4</class>
                <entities>
                    <usersurvey>
                        <table>fme_usersurvey</table>
                    </usersurvey>
                    <answers>
                        <table>fme_answers</table>
                    </answers>
                    <questionset>
                        <table>fme_questionset</table>
                    </questionset>
                </entities>
            </usersurvey_mysql4>
            <questionset>
                <class>FME_Usersurvey_Model</class>
                <resourceModel>questionset_mysql4</resourceModel>
            </questionset>
            <questionset_mysql4>
                <class>FME_Questionset_Model_Mysql4</class>
                <entities>
                    <questionset>
                        <table>questionset</table>
                    </questionset>
                </entities>
            </questionset_mysql4>
        </models>
        <resources>
            <usersurvey_setup>
                <setup>
                    <module>FME_Usersurvey</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </usersurvey_setup>
            <usersurvey_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </usersurvey_write>
            <usersurvey_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </usersurvey_read>
        </resources>
        <blocks>
            <usersurvey>
                <class>FME_Usersurvey_Block</class>
            </usersurvey>
	  
        </blocks>
        <helpers>
            <usersurvey>
                <class>FME_Usersurvey_Helper</class>
            </usersurvey>
        </helpers>
    </global>
</config>
